<script>
  export let data;
</script>

<h1>Masses</h1>

{#each data.masses as mass}
  <div>
    {mass[0].toLocaleDateString("en-GB", {
      day: "numeric",
      month: "short",
      year: "numeric",
    })}
    {mass[1]}
  </div>
{/each}
